VITE_ENV="development"
VITE_HOST_API="http://localhost:5000/api/v1"
# VITE_HOST_API_MOCK="https://66dfb55d2fb67ac16f26e9f4.mockapi.io/api/v1"
VITE_HOST_API_MOCK="http://localhost:5000/api/v1"
VITE_HOST_API_MOCK_1="https://66e8e9a787e4176094477649.mockapi.io/api/v1"
VITE_ACCESS_TOKEN="accessToken"
