body {
  margin: 0;
  padding: 0;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main {
  height: calc(100vh - 8rem);
}

#top__nav {
  z-index: 2;
}

#main-content {
  display: flex;
  flex-direction: column;
}

#gjs {
  border: 1px solid #ccc;

  .gjs-cv-canvas {
    width: 100%;
    // height: calc(100vh - 3.5rem);
    position: unset;

    &__frames {
      background-color: white;
    }
  }

  .gjs-off-prv {
    position: absolute;
    top: 8px;
    right: 52px;
    background-color: white;
    color: black;
    box-sizing: border-box;
    min-height: 30px;
    min-width: 30px;
    line-height: 21px;
    border: none;
    font-size: 18px;
    border-radius: 2px;
    padding: 4px;
    cursor: pointer;
  }

  .gjs-toolbar-items {
    display: flex;
  }

  .gjs-pn-panels {
    background-color: white;
  }
}

.panel__devices,
.panel__editor,
.panel__basic-actions {
  position: unset;
  background-color: unset;
  color: black;
}

#blocks,
#styles-container,
#trait-container {
  .gjs-one-bg {
    background-color: white;
  }

  .gjs-two-color {
    color: black;
  }
}

#blocks {
  height: 100%;

  .gjs-editor {
    height: fit-content;
  }
}

#layers-container {
  .gjs-layer {
    background-color: white;
    color: black;
  }
}

#styles-container {
  .gjs-clm-tags {
    height: 100%;
  }
}
